.partners{
	height: 700px;
	/*
	background: url("../assets/img/red_tree.jpeg");
	background-position: left;
	background-size: cover;
	background-attachment: fixed;
	*/
	background-color: $greige;
	//margin-left: -20px;
	margin-top: -25px;

	h2{
		font-family: 'unisans';
		color: black;
		text-align: center;
		font-size: 36px;
		padding-top: 50px;
	}
}

@media(max-width: $xsmall){
	.partners{
		height: 1300px;
	}
}
@media(min-width:$xsmall)and(max-width: $small){
	.partners{
		height: 1300px;
	}
}
@media(min-width:$small)and(max-width: $medium){
	.partners{
		height: 1500px;
	}
	
}
@media(min-width:$medium)and(max-width: $large){
	
}
@media(min-width:$large){

}